.add-service form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-image: url("../Carousol/carousol/pars-sahin-V7uP-XzqX18-unsplash.jpg");
}

.add-service form input,
textarea {
    width: 40%;
    margin-bottom: 10px;
}